/*Colours*/
/*F9F904*/
/*520075*/
/*font-family: Andalemo, Andalemo;*/


@font-face {
    font-family: 'cindie_monod';
    src: url('/static/css/fonts/cindiemono-d-webfont.woff2') format('woff2'),
         url('/static/css/fonts/cindiemono-d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    background-color: #520075;
    height: 100%;
    overflow-y: scroll;
}
.grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 33% 34% 33%;
}
.header-grid{
    color: #F9F904;
    display: inline-grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: 0;
}
.menu{
    display: inline-grid;
    grid-template-columns: auto auto;
    font-size: small;
    text-align: center;
}
.menu-item{
    list-style-type: none;
    padding: 20px 0 0;
    text-decoration: none;
    color: #F9F904;
}
.menu-item > li{
    display: inline;
    padding-left: 10px;
}
header{
    padding-left: 2.5%;
    grid-column-start: -4;
    grid-column-end: -1;
}
a{
    all: unset;
}
.disabled{
    visibility: hidden;
}
#slogan-box{
    font-family: cindie_monod, Arial, sans-serif;
    color: #F9F904;
    grid-column-start: -3;
    grid-column-end: -1;
    padding: 20% 25% 18% 25%;
            /*T   R   B  L*/
    text-align: center;
}
.scroll-box{
    background-color: #F9F904;
    grid-column-start: -4;
    grid-column-end: -1;
}
.scroll-box > p{
    color: #520075;
    font-family: cindie_monod, Arial, sans-serif;
    text-align: center;
}
.scroll-box > ul{
    color: #520075;
    font-family: cindie_monod, Arial, sans-serif;
    text-align: center;
    list-style-position: inside;
}
#scroll-box-header{
    color: #520075;
    font-family: cindie_monod, Arial, sans-serif;
    text-align: center;
}
#scroll-box-image{
    width: 33%;
    text-align: center;
}
.fivePSidebar{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
#contact{
    text-align: center;
    font-family: cindie_monod, Arial, sans-serif;
    color: #520075;
    padding-top: 30px;
    padding-bottom: 30px;
}
#submit{
    background: #520075;
    color: #F9F904;
    border: 1px solid #000000;
    height: 50px;
    width: 20%;
    font-family: cindie_monod, Arial, sans-serif;
    text-shadow: none;
}
#bottom-text{
    grid-column-start: -3;
    grid-column-end: -1;
    text-align: center;
}
.grid-item{
    font-family: cindie_monod, Arial, sans-serif;
}
.mid-content-box{
    text-align: center;
    color: #F9F904;
    grid-column-start: -3;
    grid-column-end: -2;
}
.left-content-box{
    text-align: center;
    color: #F9F904;
    grid-column-start: -4;
    grid-column-end: -3;
}
.right-content-box{
    text-align: center;
    color: #F9F904;
    grid-column-start: -2;
    grid-column-end: -1;
}
.faq{
    list-style-position: inside;
    display: inline-grid;
    text-align: left;
    grid-template-columns: 50% 50%;
}
.faq > ul{
    padding: 0;
}
.faq-li{
    padding-bottom: 30px;
}
.cssP{
    font-family: Andale Mono,AndaleMono,monospace;
    font-size: x-large;
}