<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Horizon Travel</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="grid-container">
    <header class="grid-item header">
        <div class="header-grid">
            <h2 class="header-title"><a href="/">Horizon Travel</a></h2>
            <div class="menu">
                <ul class="menu-left menu-item">
                    <li><a href="/about">About</a></li>
                    <li><a href="/book">Book</a></li>
                </ul>
                <ul class="menu-right menu-item">
                    <li class="disabled"><a href="/login">Login</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/sign-out">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>
</body>
</html>