<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Horizon Travels</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="static/js/sign-up.js"></script>
    <script src="static/js/sign-out.js"></script>

</head>
<body>
<div class="grid-container">
    <header class="grid-item header">
        <div class="header-grid">
            <h2 class="header-title"><a href="/">Horizon Travels</a></h2>
            <div class="menu">
                <ul class="menu-left menu-item">
                    <li><a href="/about">About</a></li>
                    <li><a href="/book">Book</a></li>
                    <li id="login" class="disabled"><a href="/login">Login</a></li>
                </ul>
                <ul class="menu-right menu-item">
                    <li id="account" class="disabled"><a href="/account">Account</a></li>
                    <li id="signOut" class="disabled"><a onclick="signOut()">Sign Out</a></li>
                </ul>
            </div>
        </div>
        <script src="../static/js/check-logged-in.js"></script>
    </header>
    <div class="grid-item mid-content-box">
        <div class="login">
            <h1>Sign up</h1>
            <form id="signup-form" method="post" action="/api/v1/users/add">
                <p><input class="signup-form-input" type="text" name="username" value="" placeholder="Username" required></p>
                <p><input class="signup-form-input" type="email" name="email" value="" placeholder="Email" required></p>
                <p><input class="signup-form-input" type="text" name="first_name" value="" placeholder="First Name" required></p>
                <p><input class="signup-form-input" type="text" name="last_name" value="" placeholder="Last Name" required></p>
                <p><input class="signup-form-input" id="password" type="password" name="confirm_password" value="" placeholder="Password" required></p>
                <p><input class="signup-form-input" id="confirm_password" type="password" name="password" value="" placeholder="Repeat Password" required></p>
                <hr>
                <p class="submit"><input type="button" name="commit" onclick="validatePassword()" value="Sign Up"></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>

